/* ========== RESET STYLES ========== */
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color:#fff
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* ========== RESET END========== */


/* ========== FONTS ========== */

@font-face {
    font-family: "Tektur_Condensed Regular";
    src: url("./dist/fonts/tektur/static/Tektur_Condensed-Regular.ttf");
  }
@font-face {
    font-family: "Tektur_Condensed Medium";
    src: url("./dist/fonts/tektur/static/Tektur_Condensed-Medium.ttf");
  }
@font-face {
    font-family: "Tektur_Condensed SemiBold";
    src: url("./dist/fonts/tektur/static/Tektur_Condensed-SemiBold.ttf");
  }
@font-face {
    font-family: "Tektur_Condensed Bold";
    src: url("./dist/fonts/tektur/static/Tektur_Condensed-Bold.ttf");
  }
@font-face {
    font-family: "Tektur Regular";
    src: url("./dist/fonts/tektur/static/Tektur-Regular.ttf");
  }
@font-face {
    font-family: "Tektur Medium";
    src: url("./dist/fonts/tektur/static/Tektur-Medium.ttf");
  }
@font-face {
    font-family: "Tektur SemiBold";
    src: url("./dist/fonts/tektur/static/Tektur-SemiBold.ttf");
  }
@font-face {
    font-family: "Tektur Bold";
    src: url("./dist/fonts/tektur/static/Tektur-Bold.ttf");
}

/* ========== FONTS END========== */


/* ========== BODY ========== */

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0 16px;

  font-family: 'Tektur Regular', Arial, Helvetica, sans-serif;
  background-color: #18181b;
  color: #fff;

  overflow-x: hidden;
}

section {
  margin-bottom: 100px;
}
@media (min-width: 800px) {
  main {
    max-width: 1280px;
    margin: 0 auto;
    flex-grow: 1;
    width: 100%;
  }
}

h1 {
 font-size: 64px;
}

h2 {
  font-size: 48px;
}

h5 {
  font-size: 32px;
}

.h6 {
  font-size: 16px;
  color: #fff;
}

.h7 {
  font-size: 20px;
  margin-bottom: 12px;
}

.h8 {

}

hr {
  margin-top: 12px;
  border-top: 1px solid #ffffff59;
}

details {
  width: 100%;
  margin-bottom: 48px;
}

details:last-child {
  margin-bottom: 0;
}

@media (max-width: 799px) {
  .heading {
    font-size: 48px;
  }
}

a, a:link, a:visited {
  color: #D1D1D1;
}
  a:hover,
  a:focus {
    font-family: 'Tektur Medium', Arial, Helvetica, sans-serif;
    color: #fff;
  }

.caption {
  display: inline-block;
  font-family: 'Tektur Medium', Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  background: linear-gradient(90deg,#0cbaf1,#e95ce9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0CBAF1;
}

.body-text {
  font-size: 16px;
  line-height: 28px;
  color: #D1D1D1;
}

.body-text-secondary {
  font-size: 14px;
  color: #B0B0B2;
  line-height: 28px;
}

/* ========== BODY END========== */


/* ========== HEADER ========== */
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 20;
  margin-bottom: 80px;
}
.header li {
  color: #fff;
}

.logo {
  width: 101px;
}

.btn-action, 
.btn  {
  display: inline-block;
  padding: 12px 21px;
  text-transform: uppercase;
}

.btn-action {
    border: 1px solid;
    border-image: linear-gradient(90deg,#0cbaf1,#e95ce9) 1;
    transition: .5s;
}
.btn-action:hover {
    background: linear-gradient(90deg,#0cbaf1,#e95ce9);
}
.btn {
    background: linear-gradient(90deg,#0cbaf1,#e95ce9);
}
a.active {
  color: #fff;
  font-family: 'Tektur Medium', Arial, Helvetica, sans-serif;
}
  
/* ---------Мобильное меню  --------- */
.overlay-content {
  display: flex;
}
.header-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
height: 114px;
}
@media (max-width: 799px) {

  ul {
  flex-direction: column;
}
.burger {
    display: block;
    cursor: pointer;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  display: flex;
  align-items: flex-start;
  top: 100px;
  margin: 30px;
  gap: 20px;
}

.overlay .closebtn {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size: 60px !important;
}
}

.menu-second-level {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 14px;
  gap: 5px;
}
.menu-first-level {
  color: #D1D1D1
}

.menu-first-level:hover > .menu-second-level {
  position: relative;
  visibility: visible;
}

.menu-first-level img {
  position: relative;
  width: 20px;
  top: 4px;
}

.menu-first-level:hover img {
  transform: rotate(180deg);
}

  
/* --------- меню desktop  --------- */

@media (min-width: 800px) {
  .header-wrapper {
    justify-content: space-between;
    max-width: 1280px;
  }
  .header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
    max-width: 600px;
 }
 
 .overlay {
    width: 100%;
 }

 .overlay-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

 }
 
 .menu-first-level:hover > .menu-second-level {
  position: absolute;
}

 .burger {
   display: none;
 }
 
 .closebtn {
   display: none !important;
 }
 .btn-action {
  order: 2;
 }
}
/* ========== HEADER END========== */


/* ========== MAIN ========== */

.bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.main {
}
.main-content {
}
.hero {
    position: relative;
}
.title-content {
  position: relative;
}
.title-desc-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 32px;
}
.title-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.happy-cliens-content {
}

.happy-cliens {
  position: relative;
  display: flex;
  align-items: center;  
  gap: 18px;
}

.amount {
  position: relative;
  font-family: "Tektur SemiBold";
}

.amount img {
  position: absolute;
  bottom: -1px;
  left: -3px;
}

.videowrap {
  max-width: 1240px;
  margin: 0 auto;
}
.videoblock {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.videoblock iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video {
z-index: 10;
}

.video iframe {

}
.video input {
  display: none;
}
.video-container {
  display: none;
  position: relative;
  bottom: 0;
}
.video img {
  min-width: 196px;
}

#video-toggle:checked + .video-container {
  display: block;  
  position: absolute;
  margin: 0 calc( 50% - 300px);
}

#video-2:checked + .video-container {
  display: block;  
  position: absolute;
  margin: 0 calc( 50% - 300px);
}

.hide-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  background-color: rgb(247, 0, 0);
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.video-container iframe {
  width: 600px;
  height: 400px;
}

.img-content {
}
.man-img {
  position: relative;
  z-index: -1;
}
.light-img {
  position: absolute;
  right: -160px;
  z-index: -3;
}

.wrapper-why-choose-us {
  display: flex;
  gap: 50px;
  padding: 50px;
  background-color: #252532;
  border: 1px solid rgba(255,255,255, 0.3);
}

@media (max-width: 570px) {

  .happy-cliens-text {  
    width: 100px;
  }
  }

@media (max-width: 799px) {

  .img-content {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  .man-img {
    right: -120px;
    height: 422px;
  }
  
.happy-cliens {
  margin-bottom: 120px;
}

.wrapper-why-choose-us {  
  flex-direction: column;
}

}

@media (min-width: 800px) {

  .hero { 
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .title-content {
    width: 50%;
  }
  .img-content {
    width: 50%;
    text-align: right;
  }

  .man-img {
    height: 656px;
    object-fit: cover;
    object-position: -20% 0;
  }

  .light-img {
    max-width: 160%;
  }
  .happy-cliens-content {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
  

}

.card {
  flex: 1 1 0px;
}

.card img {
  margin-bottom: 42px;
}

/* about-us */

.about-us-img-wrapper {
  position: relative;
  margin-bottom: 64px;
}

.about-us .video {
  position: absolute;
  bottom: -16px;
  left: 50%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 32px;
}
.checkbox {
  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
}

@media (min-width: 800px) {

.about-us {
  display: flex;
  gap: 60px;

}
.about-us-img-wrapper {
  width: 50%;
}

.main-wrapper {
  width: 50%;
}

.about-us-img {
  position: relative;
  height: 656px;
  object-fit: cover;
  object-position: 92% 0;
}

}
.body-text-info {
}


/* service */

.service {
}

.service-cards {
  display: grid;
  gap: 30px;
}
.card-wrapper {  
  height: 316px;
  padding: 30px;

  background-color: #252532;
  border: 1px solid rgba(255,255,255, 0.3);
}

.card-wrapper img {
  margin-bottom: 60px;

}

.service-card {
  position: relative;
  overflow: hidden;
}

.btn-wrapper {
    position: absolute;  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    bottom: -150px;
    background: linear-gradient(180deg,rgba(37,37,50,0),rgba(37,37,50,.91) 53.06%,#252532);
    transition: .5s;
  }
  
.service-card:hover .btn-wrapper {
  bottom: 0;
}


@media (min-width: 800px) {
  
.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service .main-wrapper {
  width: auto;
  flex-direction: row;
}
.service .body-text {
width: 50%;
}
.service-title {
  width: 50%;
}

}

/* why-choose-us */

.why-choose-us {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.why-choose-us h5{
  margin-bottom: 20px;
}

@media (min-width: 800px) {

.why-choose-us {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.why-choose-us .main-wrapper {
  margin-top: 90px;
}

.why-choose-us img {
  width: 50%;
  height: 656px;
  object-fit: cover;
  object-position: -20% 0;
}

}

/* how-start */
@media (min-width: 800px) {
.how-start {  
}

.how-start .main-wrapper {
  align-items: center;
  width: auto;
}

.how-start h5 {
  text-align: center;
}
}
/* ========== MAIN END========== */


/* ========== CONTACTS ========== */

.pages .title-desc-content {
  align-items: center;
}

.ellipse-img {
    position: absolute;
    left: calc(50% - 335px);
    top: 80px;
    z-index: -1;
}

.pages hr {
  margin-bottom: 32px;
  margin-top: 70px;
  
  border-top: 1px solid #ffffff59;
  border-image: linear-gradient(90deg,#0cbaf1,#e95ce9) 1;
}

.contact-wrapper {
  display: grid;
  gap: 32px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 60px 20px;

  background-color: #252532;
  border: 1px solid rgba(255,255,255, 0.3);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}


@media (min-width: 800px) {

  .contact-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .inputs-wrapper{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

  }
}
.inputs-wrapper{
  display: grid;
  gap: 32px;
  min-width: 100%;
  margin-top: 20px;
}

.message {
  height: 136px;
  margin-top: 20px;
  margin-bottom: 32px;
}
input {
  width: 100%;
  border-radius: 4px;
  background: rgba(37, 37, 50, 0.60);
  height: 50px;
  padding: 15px;
}
textarea {  
  width: 100%;
  border-radius: 4px;
  background: rgba(37, 37, 50, 0.60);
  height: 50px;
  padding: 15px;
}
/* ========== CONTACTS END========== */


/* ========== SERVICE ========== */

.in-number {
  position: relative;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  gap: 36px;
  padding: 60px;

  background: radial-gradient(50% 50% at 50% 50%,#343445 0,rgba(32,32,41,0) 100%);
}

.in-number-card {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;  
}

/* ========== SERVICE END========== */


/* ========== FOOTER ========== */


.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.footer-logo-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-menu-wrapper {
  display: flex;  
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-menu-wrapper ul{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.help-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-copyrignt {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.footer hr {
  margin-bottom: 32px;
  margin-top: 0;
  
  border-top: 1px solid #ffffff59;
  border-image: linear-gradient(90deg,#0cbaf1,#e95ce9) 1;
}

.footer-bg {
  position: absolute;
  bottom: 0;
  left: -16px;
  z-index: -10;
}

.social img {
  position: relative;
  z-index: -1;
}
.vk, 
.tg,
.youtube {
  position: relative;
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
}

.vk {
  background-image: url(./dist/img/icon-vk.svg);
}

.tg {
  background-image: url(./dist/img/icon-tg.svg);
}

.youtube {
  background-image: url(./dist/img/icon-youtube.svg);
}

@media (max-width: 799px) {
  
  .footer-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-logo-wrapper {
    flex-direction: row;
    margin-bottom: 70px;
  }

}

@media (min-width: 800px) {

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
  }

  .footer-logo-wrapper {
    flex-direction: column;
    min-width: 244px;
    margin-right: 100px;
  }

  .social {
    margin-bottom: 34px;  
  }

  .footer-copyrignt {
    max-width: 1280px;
  }
  
}
/* ========== FOOTER END========== */